* {
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif, Helvetica, Arial;
}

.container {
  /* background: url("../assets/DSC_0364.JPG");
  background-repeat: no-repeat, repeat;
  background-size: cover; */
}
.title {
  text-align: center;
  background: #e1e1e1;
  padding: 50px;
  margin-bottom: 30px;
}

.wrapper {
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}

.forms input {
  font-family: Roboto, sans-serif;
  background: #f2f2f2;
  width: 100%;
  border: 0.1px solid #ccc;
  margin: 0 0 15px;
  padding: 15px;
  border-radius: 6px;
  box-sizing: border-box;
  outline: 1;
}

.forms button {
  text-transform: uppercase;
  background: #222e50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: white;
  cursor: pointer;
}

.removeAllButton {
  margin-top: 10px;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  background: rgb(48, 2, 2);
  width: 216px;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  padding: 15px;
  align-self: flex-end;
  margin-bottom: 20px;
}

.forms button:hover {
  opacity: 0.9;
}

.removeAllButton:hover {
  color: red;
}

.cover {
  display: flex;
  flex-direction: column;
}
